<?xml version="1.0" encoding="utf-8"?>
<Package xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
         xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" 
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
      IgnorableNamespaces="uap uap5 mp rescap">
  <Identity Name="49306atecsolution.QuickPad" Publisher="CN=53EC4384-7F5B-4CF6-8C23-513FFE9D1AB7" Version="4.3.2.0" />
  <mp:PhoneIdentity PhoneProductId="864e8d88-2781-47a9-9aab-7d4b5bd26da9" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Quick Pad</DisplayName>
    <PublisherDisplayName>Yair A</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Quick_Pad.App" desktop4:SupportsMultipleInstances="true">
      <uap:VisualElements DisplayName="Quick Pad" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Quick Pad" BackgroundColor="#0078D7">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png" ShortName="Quick Pad">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true" BackgroundColor="#0078D7"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
         <uap5:Extension
          Category="windows.appExecutionAlias"
          Executable="QuickPad.exe"
          EntryPoint="Quick_Pad.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="QuickPad.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="quickpad">
            <uap:DisplayName>Quick Pad</uap:DisplayName>
            <uap:Logo>Assets\Quick Pad.png</uap:Logo>
            <uap:InfoTip>Quick Pad</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.rtf</uap:FileType>
              <uap:FileType>.txt</uap:FileType>
              <uap:FileType>.md</uap:FileType>
              <uap:FileType>.html</uap:FileType>
              <uap:FileType>.css</uap:FileType>
              <uap:FileType>.cs</uap:FileType>
              <uap:FileType>.php</uap:FileType>
              <uap:FileType>.xml</uap:FileType>
              <uap:FileType>.scss</uap:FileType>
              <uap:FileType>.ini</uap:FileType>
              <uap:FileType>.gitignore</uap:FileType>
              <uap:FileType>.cfg</uap:FileType>
              <uap:FileType>.config</uap:FileType>
              <uap:FileType>.cnf</uap:FileType>
              <uap:FileType>.conf</uap:FileType>
              <uap:FileType>.log</uap:FileType>
              <uap:FileType>.json</uap:FileType>
              <uap:FileType>.yml</uap:FileType>
              <uap:FileType>.yaml</uap:FileType>
              <uap:FileType>.htm</uap:FileType>
              <uap:FileType>.asp</uap:FileType>
              <uap:FileType>.aspx</uap:FileType>
              <uap:FileType>.jsp</uap:FileType>
              <uap:FileType>.jspx</uap:FileType>
              <uap:FileType>.cmake</uap:FileType>
              <uap:FileType>.bash</uap:FileType>
              <uap:FileType>.sh</uap:FileType>
              <uap:FileType>.cpp</uap:FileType>
              <uap:FileType>.hpp</uap:FileType>
              <uap:FileType>.cc</uap:FileType>
              <uap:FileType>.py</uap:FileType>
              <uap:FileType>.mm</uap:FileType>
              <uap:FileType>.rb</uap:FileType>
              <uap:FileType>.vb</uap:FileType>
              <uap:FileType>.java</uap:FileType>
              <uap:FileType>.js</uap:FileType>
              <uap:FileType>.ts</uap:FileType>
              <uap:FileType>.lua</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="confirmAppClose" />
  </Capabilities>
</Package>